ion-card {
    --background: #3D3B34;
    --color: #ECE9E4;
  }
  
ion-card-title {
    --color: #ECE9E4;
  }
  
ion-card-subtitle {
    --color: #ECE9E4;
  }

ion-content{
    --ion-background-color:#2B2923;
}

ion-button{
    --background: #CCFF00;
    --color: #2B2923;
    --background-hover: #596F00;
    --background-activated: #526600;
}

#title{
  color: #ECE9E4;
  text-align: left;
  position: absolute;
  top: -200%;
  left: 5%;
}

#text{
  color: #ECE9E4;
  text-align: left;
  position: absolute;
  top: 150%;
  left: 5%;
}


